<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- "DIMENSION EXTERNAL ID"-->
    <add key="workspaceID" value="ab09d9a3-bb65-44b0-a56b-141fc205b266" />
    <add key="token" value="3992408d0a9142ee94b0078e4118c12a7579b717d0dc4e788ae8cfee2ed224fd" />
    <add key="nodeID" value="c7abb4d4-648c-4a32-a1af-36c4b18a2c20" />

    <add key="ContactHubSdkEnableLog" value="true" />
    <add key="ContactHubSdkPathLog" value="c:\temp\trace.log" />
    <add key="waitTime" value="50000" />
    <add key="exitTime" value="10000"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>